ptu-option {
  display: list-item;
  position: relative;
}

ptu-option label {
  position: relative;
  display: block;
  gap: .66em;
  border-radius: var(--border-radius);
  background-color: var(--colour-grey-50);
  border: 1px solid rgba(10,10,10,.23);
  padding: .5em 1em .66em 2.22em;
  cursor: pointer;
  font-size: var(--fs-small);
  font-weight: 400;
  text-shadow: 0 0 6px rgba(200,200,200, .66);
  box-shadow: 0 -2px 0 inset rgba(10,10,10,.17);
}

ptu-option input[type="radio"],
ptu-option input[type="checkbox"]{
  height: 19px;
  width: 19px;
  margin: .33em 0;
  position: absolute;
  left: .58em;
  top: .33em;
  z-index: 20;
}

ptu-option input[type="radio"]:checked {
  box-shadow: 0 0 0 3px inset var(--colour-grey-50);
}


ptu-option input[type="radio"]:focus,
ptu-option input[type="checkbox"]:focus {
  outline: none;
}

ptu-option input[type="radio"]:focus + label,
ptu-option input[type="checkbox"]:focus + label{
  outline: 3px solid var(--colour-focus);
  border: 1px solid var(--colour-text);
  box-shadow: 0 -2px 0 inset rgba(10,10,10,.33);
}

ptu-option header,
ptu-option .label-header {
  font-weight: 600;
  font-size: var(--fs-h6);
}

ptu-option input[type="radio"]:checked + label,
ptu-option input[type="checkbox"]:checked + label{
  background-color: var(--colour-grey-200);
  border: 1px solid var(--colour-text);
}
