ptu-password-input input.inner-input {
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

ptu-password-input input {
  position: relative;
  width: 100%;
}

ptu-password-input label {
  display: block;
  font-weight: 300;
  font-style: italic;
  font-size: var(--fs-small);
  margin-top: .188em;
  color: var(--colour-grey-700);
}

ptu-password-input .input-wrapper {
  background-color: var(--colour-grey-50);
  color: var(--colour-text);
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: 3px solid transparent;
  padding: .77ch 1ch;
  border: 2px solid var(--colour-text);
  border-radius: var(--border-radius);
  display: flex;
  gap: 1ch;
}

ptu-password-input .input-wrapper:hover {
  box-shadow: 0 0 0 2px inset var(--colour-grey-200);
}

ptu-password-input .input-wrapper:focus-within {
  outline: 3px solid var(--colour-focus);
  box-shadow: 0 0 0 1px inset var(--colour-text);
}

ptu-password-input svg {
  height: 1em;
}
