:host {
  display: block;
  position: relative;
}

* {
  text-rendering: optimizeLegibility;
  font-family: inherit;
  box-sizing: border-box;
}

ptu-section {
  margin: var(--layout-gap) auto;
}

header {
  display: flex;
  flex-direction: column;
  gap: .66em;
  max-width: 60ch;
  color: var(--colour-grey-600);
  margin: 0;
  font-family: var(--header-font);
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  position: relative;
  line-height: 1;
  margin: 0;
  font-weight: bold;
  font-size: var(--fs-h2);
  color: var(--colour-text);
  font-family: var(--header-font);
}

.headline {
  font-size: var(--fs-mega);
}

section {
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-h4);
  color: var(--colour-grey-700);
}

aside {
  display: flex;
  gap: 1ch;
  margin: 0;
  font-weight: 300;
  font-size: var(--fs-h6);
  color: var(--colour-grey-700);
  align-items: center;
}

.category {
  text-transform: uppercase;
  display: inline-block;
  font-size: .868em;
  font-weight: 700;
  padding: .12em .5ch;
  border-radius: var(--border-radius);
  user-select: all;
  text-decoration: none;
}

.category:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .17em;
}

.category:focus {
  outline: 3px solid var(--colour-focus);
}

.topic {
  color: var(--colour-blue-700);
  font-weight: bold;
  font-size: .866em;
}

.topic:hover {
  color: var(--colour-blue-900);
  text-decoration-thickness: 2px;
}

.topic:focus {
  outline: none;
  background-color: var(--colour-focus);
  color: var(--colour-text);
  text-decoration-thickness: 3px;
}
