:host {
  display: block;
  position: relative;
  background-color: var(--colour-brand-sand);
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
}

header {
  max-width: 60ch;
  color: var(--colour-accent-700);
  padding: var(--layout-gap) 0;
}

h1 {
  display: block;
  position: relative;
  line-height: 1.12;
  color: inherit;
  margin: 0;
}

h1::before {
  position: absolute;
  content: " ";
  display: block;
  box-sizing: border-box;
  top: .1em;
  width: 4px;
  bottom: .1em;
  margin-left: calc(var(--layout-gap) * -0.88);
  background-color: var(--colour-brand-main);
}

section {
  padding: var(--layout-gap) 0 0;
}
