:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  list-style: none;
  gap: .3ch;
}

ptu-avatar {
  transition-duration: 150ms;
  margin-right: -1.5ch;
  border-radius: 100%;
}

ptu-avatar:hover:not(:last-of-type),
ptu-avatar:focus
{
  margin: 0 -0.8ch 0 -1ch;
}

ptu-avatar:focus {
  outline: 3px solid var(--colour-focus);
}

ptu-avatar:first-child {
  margin-left: 0;
}

ptu-avatar:last-of-type {
  margin-right: 0;
}

li {
  margin: 0;
}

p.facepile-label {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  width: auto;
  height: 2em;
  box-sizing: content-box;
  padding: 0 .66em;
  line-height: 1;
  border-radius: 2em;
  user-select: none;
  background-color: var(--colour-grey-300);
}
