:host {
  display: block;
  box-sizing: border-box;
}

ptu-section {
  padding: var(--layout-gap);
}

.nav-menu-section {
  position: relative;
  background-color: var(--colour-brand-sand);
  color: var(--colour-text);
  border-bottom: 2px solid var(--colour-shadow);
}

.nav-menu-section nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--layout-gap);
}
