:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
}

fieldset {
  max-width: 100%;
  appearance: none;
  position: relative;
  padding: 0;
  margin: var(--layout-gap) 0;
  border: none;
}

legend {
  position: relative;
  padding: 0;
  margin: 0 0 -.33em 0;
  font-weight: 600;
  font-size: var(--fs-h4);
}

p {
  font-weight: 300;
  margin: calc(var(--layout-gap) / 2) 0 var(--layout-gap) 0;
}

.error {
  position: relative;
  display: flex;
  gap: 1ch;
  padding: .44em 1em;
  border-left: 5px solid var(--colour-red-300);
  background-color: var(--colour-red-50);
  color: var(--colour-red-800);
  border-radius: var(--border-radius);
  font-weight: 400;
  font-size: var(--fs-small);
}

.error svg {
  position: relative;
  display: inline-block;
  line-height: 1;
  height: 1.5em;
  width: 1.5em;
}

p + p {
  margin-top: .66em;
}

ul {
  list-style: none;
  margin: var(--layout-gap) 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1ch;
  column-gap: 2ch;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

ul.flex-list {
  flex-direction: row;
}

.tag {
  font-size: var(--fs-small);
  color: var(--colour-grey-500);
  margin: 0.44em;
  vertical-align: top;
}

.required::before {
  position: absolute;
  display: block;
  content: "*";
  color: var(--colour-red-500);
  margin: 0.44em .1em 0 0;
  left: -.66em;
  top: -.44em;
}
