:host {
  display: block;
}

a {
  display: flex;
  position: relative;
  gap: .66ch;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: calc(var(--layout-gap) / 2) 1ch calc(var(--layout-gap) / 2);
  border-bottom: 1px solid transparent;
  align-items: center;
}

a:hover {
  border-bottom: 1px solid var(--colour-background);
}

a:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
}

a svg {
  height: 1em;
}
