@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ThinLight.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraThinItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraLight.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraLightItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Light.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-LightItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Regular.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Italic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Medium.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-MediumItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-SemiBold.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-SemiBoldItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Bold.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraBold.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-ExtraBoldItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Black.ttf")
  format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SofiaSans";
  src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-BlackItalic.ttf")
  format("truetype");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@supports (font-variation-settings : normal) {
  @font-face {
    font-family: "SofiaSans";
    src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-VariableFont_wght.ttf")
    format("truetype");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SofiaSans";
    src: url("https://static.peterboroughtenants.app/fonts/SofiaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
  }
}
