@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,300;0,400;0,500;0,600;0,1000;1,300&display=swap');

:root {
  /* Custom properties */
  --colour-grey-50: #FAFAFA;
  --colour-grey-100: #F4F4F5;
  --colour-grey-200: #E4E4E7;
  --colour-grey-300: #D4D4D8;
  --colour-grey-400: #A1A1AA;
  --colour-grey-500: #71717A;
  --colour-grey-600: #52525B;
  --colour-grey-700: #3F3F46;
  --colour-grey-800: #27272A;
  --colour-grey-900: #18181B;

  /* BRAND */
  --colour-brand-main: #e40046;
  --colour-brand-background: #fe004e;
  --colour-brand-sand: #d7d2cb;

  /* ACCENT */
  --colour-accent-50: #dad7dc;
  --colour-accent-100: #b5b0b8;
  --colour-accent-200: #908895;
  --colour-accent-300: #7e7483;
  --colour-accent-400: #594d60;
  --colour-accent-500: #594d60;
  --colour-accent-600: #46394E;
  --colour-accent-700: #3f3346;
  --colour-accent-800: #312837;
  --colour-accent-900: #231d27;

  /* BLUE */
  --colour-blue-50: #f0f9ff;
  --colour-blue-100: #e0f2fe;
  --colour-blue-200: #bae6fd;
  --colour-blue-300: #7dd3fc;
  --colour-blue-400: #38bdf8;
  --colour-blue-500: #0ea5e9;
  --colour-blue-600: #0284c7;
  --colour-blue-700: #0369a1;
  --colour-blue-800: #075985;
  --colour-blue-900: #0c4a6e;

  /* RED */
  --colour-red-50: #fef2f2;
  --colour-red-100: #fee2e2;
  --colour-red-200: #fecaca;
  --colour-red-300: #fca5a5;
  --colour-red-400: #f87171;
  --colour-red-500: #ef4444;
  --colour-red-600: #dc2626;
  --colour-red-700: #b91c1c;
  --colour-red-800: #991b1b;
  --colour-red-900: #7f1d1d;

  /* YELLOW */
  --colour-yellow-50: #fefce8;
  --colour-yellow-100: #fef9c3;
  --colour-yellow-200: #fef08a;
  --colour-yellow-300: #fde047;
  --colour-yellow-400: #facc15;
  --colour-yellow-500: #eab308;
  --colour-yellow-600: #ca8a04;
  --colour-yellow-700: #a16207;
  --colour-yellow-800: #854d0e;
  --colour-yellow-900: #713f12;

  /* GREEN */
  --colour-green-50: #f7fee7;
  --colour-green-100: #ecfccb;
  --colour-green-200: #d9f99d;
  --colour-green-300: #bef264;
  --colour-green-400: #a3e635;
  --colour-green-500: #84cc16;
  --colour-green-600: #65a30d;
  --colour-green-700: #4d7c0f;
  --colour-green-800: #3f6212;
  --colour-green-900: #365314;

  /* Control colours */
  --colour-text: var(--colour-grey-900);
  --colour-link: var(--colour-blue-700);
  --colour-link-hover: var(--colour-blue-900);
  --colour-focus: var(--colour-yellow-300);
  --colour-background: var(--colour-grey-100);
  --colour-border: var(--colour-grey-500);
  --colour-shadow: var(--colour-grey-800);

  /* Other properties */
  --border-radius: 2px;
  --container-width: 1200px;
  --layout-gap: 1rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--colour-border);
}

::before,
::after {
  --tw-content: '';
}

html, body {
  overflow-x: hidden;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 13.5pt;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: inherit;
  background-color: var(--colour-background);
  color: var(--colour-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.12em;
  margin: .33rem 0 1rem 0;
}

p {
  font-weight: 300;
}


a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
input[type="search"],
optgroup,
select,
textarea {
  appearance: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: block;
}

blockquote,
dl,
dd,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: calc(var(--layout-gap) / 2) 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: var(--colour-grey-400);
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.prose h1 {
  font-size: 170%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h2 {
  font-size: 160%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h3 {
  font-size: 150%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h4 {
  font-size: 140%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h5 {
  font-size: 130%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h6 {
  font-size: 120%;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}


hgroup {
  border-bottom: 1px solid var(--colour-border);
  padding: calc(var(--layout-gap) / 2) 0 calc(var(--layout-gap) / 3) 0;
  margin-bottom: var(--layout-gap);
}

hgroup:first-child {
  padding-top: 0;
}

hgroup p {
  font-weight: 300;
}

hgroup h1 {
  font-size: 200%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h2 {
  font-size: 180%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h3 {
  font-size: 160%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h4 {
  font-size: 140%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h5 {
  font-size: 120%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h6 {
  font-size: 100%;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

.title {
  font-size: 41pt;
  line-height: 1em;
  font-weight: 800;
  max-width: 26ch;
  margin-bottom: .33em;
  font-style: normal;
  text-align: inherit;
}

ptu-hero .title {
  color: var(--colour-text)
}

a {
  color: var(--colour-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
  outline: none;
  text-decoration-thickness: 3px;
}

a:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
}

ptu-section ~ ptu-section {
  padding-top: var(--layout-gap);
  padding-bottom: var(--layout-gap);
}

.top-padding {
  padding-top: var(--layout-gap);
}


.bottom-padding {
  padding-bottom: var(--layout-gap);
}

svg {
  display: inline-block;
}

.card {
  background-color: var(--colour-grey-200);
  border-radius: var(--border-radius);
  padding: .5em 1em;
  font-weight: 300;
}

.card p {
  margin-bottom: .5rem;
}

.card > header {
  margin: .33rem 0 .5rem;
  font-weight: 600;
  font-size: 110%;
}

.card > footer {
  padding: .33em 0;
  border-top: 1px solid var(--colour-grey-400);
  border-bottom: 1px solid var(--colour-grey-400);
  margin: .5em 0 .33em;
}

ul.list li ~ li,
ul.list li:first-child,
ol.list li ~ li,
ol.list li:first-child {
  border-top: 1px solid var(--colour-grey-400);
  padding-top: calc(var(--layout-gap) / 2);
}

ol.list {
  list-style: decimal;
  list-style-position: inside;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dt {
  padding-top: .33rem;
  padding-right: .33rem;
  font-weight: 450;
  grid-column: 1 / 2;
  border-top: 1px solid var(--colour-grey-400);
}

dd {
  font-weight: 300;
  grid-column: 2 / -1;
  padding-bottom: .33rem;
}

dt + dd {
  padding-top: .33rem;
  border-top: 1px solid var(--colour-grey-400);
}

input,
input[type="search"],
textarea,
select {
  background-color: var(--colour-grey-50);
  color: var(--colour-text);
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: 3px solid transparent;
  padding: .5ch 1ch;
  border: 2px solid var(--colour-text);
  border-radius: var(--border-radius);
}

input:hover, textarea:hover, select:hover {
  box-shadow: 0 0 0 2px inset var(--colour-grey-200);
}

input:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  outline: 3px solid var(--colour-focus);
  box-shadow: 0 0 0 1px inset var(--colour-text);
}

input[disabled] {
  background-color: var(--colour-grey-200);
  border-color: var(--colour-grey-600);
  cursor: not-allowed;
}

input[readonly] {
  cursor: not-allowed;
}

.prose table, .prose pre {
  max-width: 100%;
  overflow: scroll;
}

p + ul li,
.prose ul li
{
  position: relative;
}

p + ul li::before,
.prose ul li::before
{
  position: relative;
  margin-right: 1ch;
  content: " ";
  display: inline-block;
  width: 1.5ch;
  height: 1em;
  bottom: -.22em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z'/%3E%3C/svg%3E");
}

.prose p {
  max-width: 60ch;
  margin-bottom: .66rem;
}

.prose code {
  font-size: 80%;
  padding: .12em;
  background-color: var(--colour-grey-700);
  border-radius: var(--border-radius);
  color: var(--colour-blue-100);
}

.prose kbd, .prose samp, .prose var {
  font-size: 80%;
  padding: .12em;
  background-color: var(--colour-grey-300);
  border-radius: var(--border-radius);
}

.prose ins {
  background-color: var(--colour-grey-200);
  color: var(--colour-green-700);
}
.prose del {
  background-color: var(--colour-grey-200);
  color: var(--colour-red-700);
}

q {
  font-style: italic;
}

.prose hgroup * {
  border: none;
}

table {
  width: 100%;
  margin: var(--layout-gap) 0;
}

caption, legend {
  text-align: left;
  margin: .5rem 0;
  color: var(--colour-grey-600);
  font-weight: 400;
}

th {
  font-weight: 600;
  text-align: left;
  padding: .24rem 1ch .24rem 0;
}

td {
  font-weight: 300;
  padding: .22rem 1ch .24rem 0;
}

thead tr {
  border-bottom: 1px solid var(--colour-grey-400);
}

tbody tr {
  border-bottom: 1px solid var(--colour-grey-300);
}

@counter-style legal-numeric {
  system: numeric;
  symbols: '\30' '\31' '\32' '\33' '\34' '\35' '\36' '\37' '\38' '\39';
  prefix: "(";
  suffix: ")";
}

@counter-style legal-alpha {
  system: alphabetic;
  symbols: '\61' '\62' '\63' '\64' '\65' '\66' '\67' '\68' '\69' '\6A' '\6B' '\6C' '\6D' '\6E' '\6F' '\70' '\71' '\72' '\73' '\74' '\75' '\76' '\77' '\78' '\79' '\7A';
  prefix: "(";
  suffix: ")";
}

.prose ul,
.prose ol {
  margin: .66rem 0 .66rem 2ch;
  font-weight: 300;
}

.prose ol {
  list-style: legal-numeric;
}

.prose ol ol {
  list-style: lower-latin;
}

.prose ol ol ol {
  list-style: lower-roman;
}

.prose ol li,
.prose ul li
{
  padding: 0 0 0 1ch;
}

.legal-prose {
  max-width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 1ch;
  margin: var(--layout-gap) 0;
  font-size: 12pt;
}

.legal-prose h1 {
  text-align: center;
  margin: 0 auto 12mm auto;
  font-size: 22pt;
  max-width: 20ch;
  text-transform: capitalize;
  font-weight: 700;
  counter-reset: part-counter section-counter paragraph-counter;
}

.legal-prose h2 {
  font-size: 15pt;
  text-align: center;
  max-width: 30ch;
  margin: 8mm auto;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  break-after: avoid-page;
  break-inside: avoid-page;
  counter-reset: paragraph-counter;
}

.legal-prose h2::before {
  display: block;
  font-weight: 400;
  counter-increment: part-counter;
  content: "Part. " counter(part-counter, upper-roman);
  margin-bottom: 2mm;
  font-size: 115%;
  font-style: normal;
  break-after: avoid-page;
  break-inside: avoid-page;
}


.legal-prose h3 {
  font-size: 13pt;
  text-align: center;
  max-width: 40ch;
  margin: 8mm auto;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  break-after: avoid-page;
  break-inside: avoid-page;
  counter-reset: paragraph-counter;
}

.legal-prose h4 {
  font-weight: 500;
  position: relative;
  margin: 12mm 0 3mm 0;
  counter-reset: paragraph-counter;
  counter-increment: section-counter;
  break-after: avoid-page;
  break-inside: avoid-page;
}

.legal-prose h4::before {
  display: inline-block;
  position: relative;
  content: "(" counter(section-counter, decimal) ")";
  margin-right: 1ch;
}

.legal-prose p
{
  position: relative;
  margin-bottom: 3mm;
  break-inside: avoid-page;
  max-width: 60ch;
  font-weight: 300;
  margin-left: 6ch;
  text-indent: -2ch;
  font-size: inherit;
}

.legal-prose p:not(.continuation)::before {
  display: inline-block;
  position: relative;
  min-width: 1.5ch;
  margin-right: .5ch;
  counter-increment: paragraph-counter;
  content: "(" counter(paragraph-counter, decimal) ")";
}

.legal-prose p.continuation {
  text-indent: 0;
}

.legal-prose p:not(.insertion) {
  counter-reset: ins-counter;
}

.legal-prose p.insertion::before {
  counter-increment: ins-counter 1;
  counter-reset: none;
  content: "(" counter(paragraph-counter, decimal) counter(ins-counter, upper-latin) ")";
}

.legal-prose ol {
  list-style: legal-alpha;
  font-weight: 300;
  margin: 3mm 0 2ch 6ch;
  break-inside: avoid-page;
  font-size: inherit;
}

.legal-prose ol li {
  padding-left: 1ch;
  max-width: 50ch;
  font-size: inherit;
}

.legal-prose .code {
  background-color: var(--colour-text);
  color: var(--colour-background);
  float: left;
  padding: .12em .12em;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  align-items: center;
  font-weight: 800;
  font-size: 40pt;
  line-height: 40pt;
  text-transform: uppercase;
  min-width: 2.5ch;
  justify-content: center;
  margin: 0 1ch 1ch 0;
}

.legal-prose .code label {
  font-size: 10pt;
  font-weight: 400;
  line-height: 20pt;
  margin: 0;
  padding: 0;
}

.legal-prose dl {
  grid-template-columns: auto 1fr;
  margin-left: 12mm;
}

.legal-prose dt {
  border: none;
  margin-right: 2ch;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 600;
  max-width: 30ch;
  text-align: right;
}

.legal-prose dt::before {
  content: "“"
}

.legal-prose dt::after {
  content: "”"
}

.legal-prose dd {
  border: none;
}

.legal-prose header {
  clear: both;
}

.legal-prose header p:not(.continuation)::before {
  display: none;
}

.legal-prose cite {
  display: inline;
  font-style: normal;
  font-size: 10pt;
  line-height: 1em;
  color: var(--colour-blue-900);
}

.legal-prose .insertion cite {
  color: var(--colour-green-800);
}

.legal-prose .del cite {
  color: var(--colour-red-800);
}

.legal-prose cite::before {
  top: 1px;
  content: "[";
  font-size: 13pt;
  margin-right: 1ch;
}

.legal-prose cite::after {
  top: 1px;
  content: "]";
  font-size: 13pt;
  margin-left: 1ch;
}

.legal-prose hgroup {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.legal-prose hgroup > * {
  margin: 0 !important;
}

video, audio {
  display: block;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius);
}

mark {
  background-color: var(--colour-yellow-400);
}

fieldset {
  font-weight: 300;
}

pre {
  display: block;
  white-space: pre-wrap;
  padding: .5rem .66rem;
  background-color: var(--colour-grey-300);
  font-size: 80%;
  font-weight: 300;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  color: var(--colour-blue-900);
}

select {
  position: relative;
  min-width: 10ch;
}

select:not([multiple]):not([size]) {
  padding-right: 3.5ch;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - .5ch) center;
  background-size: 2.5ch;
}

input[type="checkbox"],
input[type="radio"] {
  font-size: inherit;
  width: 1.88em;
  height: 1.88em;
  padding: 0;
  margin: 3px;
  line-height: 0;
  vertical-align: calc(1.88em / -2.66);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' stroke='RGB(24, 24, 27)' stroke-width='2' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E");
  border-width: 2px;
  border-color: var(--colour-text);
}

input[type="radio"]:checked {
  border-width: 2px;
  border-color: var(--colour-text);
  background-color: var(--colour-text);
  box-shadow: 0 0 0 6px inset var(--colour-grey-50);
}

button,
.button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-grey-200);
  border: 1px solid rgba(10,10,10,.23);
  padding: .33em .66em .44em .66em;
  cursor: pointer;
  font-size: 90%;
  font-weight: 400;
  margin: 3px;
  text-shadow: 0 0 6px rgba(200,200,200, .66);
  box-shadow: 0 -2px 0 inset rgba(10,10,10,.16);
}

.danger-button {
  background-color: var(--colour-red-700);
  text-shadow: 0 0 6px rgba(200,200,200, .48);
  color: #fff;
}

.primary-button {
  background-color: var(--colour-link);
  text-shadow: 0 0 6px rgba(200,200,200, .48);
  color: #fff;
}

.success-button {
  background-color: var(--colour-green-600);
  text-shadow: 0 0 6px rgba(200,200,200, .48);
  color: #fff;
}

.warning-button {
  background-color: var(--colour-yellow-600);
  text-shadow: 0 0 6px rgba(200,200,200, .48);
  color: #fff;
}

button:hover:not([disabled]),
.button:hover:not([disabled]),
[type='button']:hover:not([disabled]),
[type='reset']:hover:not([disabled]),
[type='submit']:hover:not([disabled]) {
  box-shadow: 0 -2px 0 inset rgba(10,10,10,.10),
              0 0 30px inset rgba(10,10,10,.16);
;
}

button:focus:not([disabled]),
.button:focus:not([disabled]),
[type='button']:focus:not([disabled]),
[type='reset']:focus:not([disabled]),
[type='submit']:focus:not([disabled]) {
  outline: 3px solid var(--colour-focus);
  border: 1px solid var(--colour-text);
  box-shadow: 0 -2px 0 inset rgba(10,10,10,.33);
}

button:active:not([disabled]),
.button:active:not([disabled]),
[type='button']:active:not([disabled]),
[type='reset']:active:not([disabled]),
[type='submit']:active:not([disabled]) {
  box-shadow: 0 -1px 0 inset rgba(10,10,10,.55),
              0 0 30px inset rgba(10,10,10,.21);
}

button[disabled], input[disabled] {
  background-color: var(--colour-grey-200);
  border-color: var(--colour-grey-300);
  cursor: not-allowed;
  box-shadow: none;
}
