:root {
  /* Custom properties */
  --colour-grey-50: #FAFAFA;
  --colour-grey-100: #F4F4F5;
  --colour-grey-200: #E4E4E7;
  --colour-grey-300: #D4D4D8;
  --colour-grey-400: #A1A1AA;
  --colour-grey-500: #71717A;
  --colour-grey-600: #52525B;
  --colour-grey-700: #3F3F46;
  --colour-grey-800: #27272A;
  --colour-grey-900: #18181B;

  /* RED */
  --colour-red-50: hsl(341 21% 87%);
  --colour-red-100: hsl(341 47% 81%);
  --colour-red-200: hsl(341 64% 72%);
  --colour-red-300: hsl(341 73% 63%);
  --colour-red-400: hsl(341 78% 54%);
  --colour-red-500: hsl(341 100% 45%);
  --colour-red-600: hsl(341 100% 35%);
  --colour-red-700: hsl(341 100% 25%);
  --colour-red-800: hsl(341 100% 15%);
  --colour-red-900: hsl(341 100% 8%);

  /* ACCENT */
  --colour-accent-50: hsl(271 21% 87%);
  --colour-accent-100: hsl(271 47% 81%);
  --colour-accent-200: hsl(271 64% 72%);
  --colour-accent-300: hsl(271 73% 63%);
  --colour-accent-400: hsl(271 78% 54%);
  --colour-accent-500: hsl(271 100% 45%);
  --colour-accent-600: hsl(271 100% 35%);
  --colour-accent-700: hsl(271 100% 25%);
  --colour-accent-800: hsl(271 100% 15%);
  --colour-accent-900: hsl(271 100% 8%);

  /* BLUE */
  --colour-blue-50: hsl(200 21% 87%);
  --colour-blue-100: hsl(200 47% 81%);
  --colour-blue-200: hsl(200 64% 72%);
  --colour-blue-300: hsl(200 73% 63%);
  --colour-blue-400: hsl(200 78% 54%);
  --colour-blue-500: hsl(200 100% 45%);
  --colour-blue-600: hsl(200 100% 35%);
  --colour-blue-700: hsl(200 100% 25%);
  --colour-blue-800: hsl(200 100% 15%);
  --colour-blue-900: hsl(200 100% 8%);

  /* YELLOW */
  --colour-yellow-50: hsl(33 21% 87%);
  --colour-yellow-100: hsl(33 47% 81%);
  --colour-yellow-200: hsl(33 64% 72%);
  --colour-yellow-300: hsl(33 73% 63%);
  --colour-yellow-400: hsl(33 78% 54%);
  --colour-yellow-500: hsl(33 100% 45%);
  --colour-yellow-600: hsl(33 100% 35%);
  --colour-yellow-700: hsl(33 100% 25%);
  --colour-yellow-800: hsl(33 100% 15%);
  --colour-yellow-900: hsl(33 100% 8%);

  /* GREEN */
  --colour-green-50: hsl(83 21% 87%);
  --colour-green-100: hsl(83 47% 81%);
  --colour-green-200: hsl(83 64% 72%);
  --colour-green-300: hsl(83 73% 63%);
  --colour-green-400: hsl(83 78% 54%);
  --colour-green-500: hsl(83 100% 45%);
  --colour-green-600: hsl(83 100% 35%);
  --colour-green-700: hsl(83 100% 25%);
  --colour-green-800: hsl(83 100% 15%);
  --colour-green-900: hsl(83 100% 8%);

  /* BRAND */
  --colour-brand-main: var(--colour-red-500);
  --colour-brand-background: var(--colour-red-500);
  --colour-brand-sand: var(--colour-yellow-50);

  /* Control colours */
  --colour-text: var(--colour-accent-900);
  --colour-link: var(--colour-blue-700);
  --colour-link-hover: var(--colour-blue-800);
  --colour-focus: var(--colour-yellow-300);
  --colour-background: var(--colour-grey-100);
  --colour-border: var(--colour-grey-500);
  --colour-shadow: var(--colour-grey-800);

  /* Other properties */
  --border-radius: 0;
  --container-width: 1200px;
  --layout-gap: 1rem;

  /* Fony sizes */
  --fs-base: calc(10.5pt + .390625vw);
  --fs-mega: calc(var(--fs-base) * 2.88);
  --fs-big: calc(var(--fs-base) * 2.256);
  --fs-h1: calc(var(--fs-base) * 1.898);
  --fs-h2: calc(var(--fs-base) * 1.666);
  --fs-h3: calc(var(--fs-base) * 1.415);
  --fs-h4: calc(var(--fs-base) * 1.303);
  --fs-h5: calc(var(--fs-base) * 1.111);
  --fs-h6: calc(var(--fs-base) * 1.088);
  --fs-small: calc(var(--fs-base) * 0.911);
  --fs-tiny: calc(var(--fs-base) * 0.678);

  /* Default fonts */
  --brand-font: system-ui;
  --header-font: var(--brand-font);
  --system-fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--colour-border);
  text-rendering: optimizeLegibility;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: var(--brand-font), var(--system-fonts);
  font-size: var(--fs-base);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: inherit;
  background-color: var(--colour-background);
  color: var(--colour-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: 1.12em;
  margin: .33rem 0 1rem 0;
  font-family: var(--header-font);
}

p {
  font-weight: 300;
}


a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: inherit;
}

small {
  font-size: .8em;
}

sub,
sup {
  font-size: .666em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
input[type="search"],
optgroup,
select,
textarea {
  appearance: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: block;
}

blockquote,
dl,
dd,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: calc(var(--layout-gap) / 2) 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--colour-grey-400);
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-position: center center;
  object-fit: cover;
}

[hidden] {
  display: none;
}

.prose h1 {
  font-size: var(--fs-h1);
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h2 {
  font-size: var(--fs-h2);
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h3 {
  font-size: var(--fs-h3);
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h4 {
  font-size: var(--fs-h4);;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h5 {
  font-size: var(--fs-h5);
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}
.prose h6 {
  font-size: var(--fs-h6);
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: .23em;
  margin-top: calc(var(--layout-gap) * 1.5);
}

hgroup {
  border-bottom: 1px solid var(--colour-border);
  padding: calc(var(--layout-gap) / 2) 0 calc(var(--layout-gap) / 3) 0;
  margin-bottom: var(--layout-gap);
}

hgroup:first-child {
  padding-top: 0;
}

hgroup p {
  font-weight: 300;
}

hgroup h1 {
  font-size: var(--fs-h1);;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h2 {
  font-size: var(--fs-h2);;
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h3 {
  font-size: var(--fs-h3);
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h4 {
  font-size: var(--fs-h4);
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h5 {
  font-size: var(--fs-h5);
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

hgroup h6 {
  font-size: var(--fs-h6);
  font-weight: 600;
  max-width: 45ch;
  margin: 0;
}

.title {
  font-size: var(--fs-mega);
  line-height: 1em;
  font-weight: 900;
  max-width: 26ch;
  margin-bottom: .33em;
  font-style: normal;
  text-align: inherit;
  font-family: var(--header-font);
}

ptu-hero .title {
  color: var(--colour-text);
  font-family: var(--header-font);
  padding: 0;
  margin: 0 0 1.5vmax 0;
}

a {
  color: var(--colour-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
  outline: none;
  text-decoration-thickness: 3px;
}

a:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
}

ptu-section ~ ptu-section {
  padding-top: var(--layout-gap);
  padding-bottom: var(--layout-gap);
}

.top-padding {
  padding-top: var(--layout-gap);
}


.bottom-padding {
  padding-bottom: var(--layout-gap);
}

svg {
  display: inline-block;
}

.card {
  background-color: var(--colour-grey-200);
  border-radius: calc(var(--border-radius) * 2);
  padding: .5em 1em;
  font-weight: 300;
}

.card.danger {
  background-color: var(--colour-red-100);
}

.card.success {
  background-color: var(--colour-green-100);
}

.card.warning {
  background-color: var(--colour-yellow-100);
}

.card.info {
  background-color: var(--colour-blue-100);
}

.card p {
  margin-bottom: .5rem;
}

.card > header {
  margin: .33rem 0 .5rem;
  font-weight: 600;
  font-size: var(--fs-h5);
  font-family: var(--header-font);
}

.card > footer {
  padding: .33em 0;
  border-top: 1px solid var(--colour-grey-400);
  border-bottom: 1px solid var(--colour-grey-400);
  margin: .5em 0 .33em;
}

ul.list li ~ li,
ul.list li:first-child,
ol.list li ~ li,
ol.list li:first-child {
  border-top: 1px solid var(--colour-grey-400);
  padding-top: calc(var(--layout-gap) / 2);
}

ol.list {
  list-style: decimal;
  list-style-position: inside;
}

ul.list li:first-child, ol.list li:first-child {
  margin-top: 0;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dt {
  padding-top: .33rem;
  padding-right: .33rem;
  font-weight: 450;
  grid-column: 1 / 2;
  border-top: 1px solid var(--colour-grey-400);
  font-family: var(--header-font);
}

dd {
  font-weight: 300;
  grid-column: 2 / -1;
  padding-bottom: .33rem;
}

dt + dd {
  padding-top: .33rem;
  border-top: 1px solid var(--colour-grey-400);
}

input,
input[type="search"],
textarea,
select {
  position: relative;
  background-color: var(--colour-grey-50);
  color: var(--colour-text);
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: 3px solid transparent;
  padding: .77ch 1ch;
  border: 2px solid var(--colour-text);
  border-radius: var(--border-radius);
}

input:hover, textarea:hover, select:hover {
  box-shadow: 0 0 0 2px inset var(--colour-grey-200);
}

input:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  outline: 3px solid var(--colour-focus);
  box-shadow: 0 0 0 1px inset var(--colour-text);
  z-index: 100;
}

input[disabled] {
  background-color: var(--colour-grey-200);
  border-color: var(--colour-grey-600);
  cursor: not-allowed;
}

input[readonly] {
  cursor: not-allowed;
}

.prose table, .prose pre {
  max-width: 100%;
  overflow: scroll;
}

p + ul li,
.prose ul li
{
  position: relative;
}

p + ul li::before,
.prose ul li::before
{
  position: relative;
  margin-right: 1ch;
  content: " ";
  display: inline-block;
  width: 1.5ch;
  height: 1em;
  bottom: -.22em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z'/%3E%3C/svg%3E");
}

.prose p {
  max-width: 60ch;
  margin-bottom: .66rem;
}

.prose code {
  font-size: .8em;
  padding: .12em;
  background-color: var(--colour-grey-700);
  border-radius: var(--border-radius);
  color: var(--colour-blue-100);
}

.prose kbd, .prose samp, .prose var {
  font-size: .8em;
  padding: .12em;
  background-color: var(--colour-grey-300);
  border-radius: var(--border-radius);
}

.prose ins {
  background-color: var(--colour-grey-200);
  color: var(--colour-green-700);
}
.prose del {
  background-color: var(--colour-grey-200);
  color: var(--colour-red-700);
}

q {
  font-style: italic;
}

.prose hgroup * {
  border: none;
}

table {
  width: 100%;
  margin: var(--layout-gap) 0;
}

caption, legend {
  text-align: left;
  margin: .5rem 0;
  color: var(--colour-grey-600);
  font-weight: 400;
  font-family: var(--header-font);
}

th {
  font-weight: 600;
  text-align: left;
  padding: .24rem 1ch .24rem 0;
  font-family: var(--header-font);
}

td {
  font-weight: 300;
  padding: .22rem 1ch .24rem 0;
}

thead tr {
  border-bottom: 1px solid var(--colour-grey-400);
}

tbody tr {
  border-bottom: 1px solid var(--colour-grey-300);
}

@counter-style legal-numeric {
  system: numeric;
  symbols: '\30' '\31' '\32' '\33' '\34' '\35' '\36' '\37' '\38' '\39';
  prefix: "(";
  suffix: ")";
}

@counter-style legal-alpha {
  system: alphabetic;
  symbols: '\61' '\62' '\63' '\64' '\65' '\66' '\67' '\68' '\69' '\6A' '\6B' '\6C' '\6D' '\6E' '\6F' '\70' '\71' '\72' '\73' '\74' '\75' '\76' '\77' '\78' '\79' '\7A';
  prefix: "(";
  suffix: ")";
}

.prose ul,
.prose ol {
  margin: .66rem 0 .66rem 2ch;
  font-weight: 300;
}

.prose ol {
  list-style: legal-numeric;
}

.prose ol ol {
  list-style: lower-latin;
}

.prose ol ol ol {
  list-style: lower-roman;
}

.prose ol li,
.prose ul li
{
  padding: 0 0 0 1ch;
}

.prose:first-child {
  margin-top: 0;
}

.legal-prose {
  max-width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 1ch;
  margin: var(--layout-gap) 0;
  font-size: 12pt;
  font-family: var(--brand-font);
}

.legal-prose h1 {
  text-align: center;
  margin: 0 auto 12mm auto;
  font-size: 22pt;
  max-width: 20ch;
  text-transform: capitalize;
  font-weight: 700;
  counter-reset: part-counter section-counter paragraph-counter;
}

.legal-prose h2 {
  font-size: 15pt;
  text-align: center;
  max-width: 30ch;
  margin: 8mm auto;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  break-after: avoid-page;
  break-inside: avoid-page;
  counter-reset: paragraph-counter;
}

.legal-prose h2::before {
  display: block;
  font-weight: 400;
  counter-increment: part-counter;
  content: "Part. " counter(part-counter, upper-roman);
  margin-bottom: 2mm;
  font-size: 115%;
  font-style: normal;
  break-after: avoid-page;
  break-inside: avoid-page;
}


.legal-prose h3 {
  font-size: 13pt;
  text-align: center;
  max-width: 40ch;
  margin: 8mm auto;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  break-after: avoid-page;
  break-inside: avoid-page;
  counter-reset: paragraph-counter;
}

.legal-prose h4 {
  font-weight: 500;
  position: relative;
  margin: 12mm 0 3mm 0;
  counter-reset: paragraph-counter;
  counter-increment: section-counter;
  break-after: avoid-page;
  break-inside: avoid-page;
}

.legal-prose h4::before {
  display: inline-block;
  position: relative;
  content: "(" counter(section-counter, decimal) ")";
  margin-right: 1ch;
}

.legal-prose p
{
  position: relative;
  margin-bottom: 3mm;
  break-inside: avoid-page;
  max-width: 60ch;
  font-weight: 300;
  margin-left: 6ch;
  text-indent: -2ch;
  font-size: inherit;
}

.legal-prose p:not(.continuation)::before {
  display: inline-block;
  position: relative;
  min-width: 1.5ch;
  margin-right: .5ch;
  counter-increment: paragraph-counter;
  content: "(" counter(paragraph-counter, decimal) ")";
}

.legal-prose p.continuation {
  text-indent: 0;
}

.legal-prose p:not(.insertion) {
  counter-reset: ins-counter;
}

.legal-prose p.insertion::before {
  counter-increment: ins-counter 1;
  counter-reset: none;
  content: "(" counter(paragraph-counter, decimal) counter(ins-counter, upper-latin) ")";
}

.legal-prose ol {
  list-style: legal-alpha;
  font-weight: 300;
  margin: 3mm 0 2ch 6ch;
  break-inside: avoid-page;
  font-size: inherit;
}

.legal-prose ol li {
  padding-left: 1ch;
  max-width: 50ch;
  font-size: inherit;
}

.legal-prose .code {
  background-color: var(--colour-text);
  color: var(--colour-background);
  float: left;
  padding: .12em .12em;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  align-items: center;
  font-weight: 800;
  font-size: 40pt;
  line-height: 40pt;
  text-transform: uppercase;
  min-width: 2.5ch;
  justify-content: center;
  margin: 0 1ch 1ch 0;
}

.legal-prose .code label {
  font-size: 10pt;
  font-weight: 400;
  line-height: 20pt;
  margin: 0;
  padding: 0;
}

.legal-prose dl {
  grid-template-columns: auto 1fr;
  margin-left: 12mm;
}

.legal-prose dt {
  border: none;
  margin-right: 2ch;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 600;
  max-width: 30ch;
  text-align: right;
}

.legal-prose dt::before {
  content: "“"
}

.legal-prose dt::after {
  content: "”"
}

.legal-prose dd {
  border: none;
}

.legal-prose header {
  clear: both;
}

.legal-prose header p:not(.continuation)::before {
  display: none;
}

.legal-prose cite {
  display: inline;
  font-style: normal;
  font-size: 10pt;
  line-height: 1em;
  color: var(--colour-blue-900);
}

.legal-prose .insertion cite {
  color: var(--colour-green-800);
}

.legal-prose .del cite {
  color: var(--colour-red-800);
}

.legal-prose cite::before {
  top: 1px;
  content: "[";
  font-size: 13pt;
  margin-right: 1ch;
}

.legal-prose cite::after {
  top: 1px;
  content: "]";
  font-size: 13pt;
  margin-left: 1ch;
}

.legal-prose hgroup {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.legal-prose hgroup > * {
  margin: 0 !important;
}

video, audio {
  display: block;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius);
}

mark {
  background-color: var(--colour-yellow-400);
}

fieldset {
  font-weight: 300;
}

pre {
  display: block;
  white-space: pre-wrap;
  padding: .5rem .66rem;
  background-color: var(--colour-grey-300);
  font-size: .8em;
  font-weight: 300;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  color: var(--colour-blue-900);
}

select {
  position: relative;
  min-width: 10ch;
}

select:not([multiple]):not([size]) {
  padding-right: 3.5ch;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - .5ch) center;
  background-size: 2.5ch;
}

input[type="checkbox"],
input[type="radio"] {
  font-size: inherit;
  width: 1.88em;
  height: 1.88em;
  padding: 0;
  margin: 3px;
  line-height: 0;
  vertical-align: calc(1.88em / -2.66);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' stroke='RGB(24, 24, 27)' stroke-width='2' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E");
  border-width: 2px;
  border-color: var(--colour-text);
}

input[type="radio"]:checked {
  border-width: 2px;
  border-color: var(--colour-text);
  background-color: var(--colour-text);
  box-shadow: 0 0 0 6px inset var(--colour-grey-50);
}

button,
.button,
[type='button'],
[type='reset'],
[type='submit'] {
  --hover-colour: hsl(190 33% 10% / .16);
  --edge-color: hsl(190 28% 10% / .22);
  --edge-color-hover: hsl(190 28% 10% / .44);
  --edge-color-focus: hsl(190 28% 8% / .66);
  appearance: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-blue-50);
  border: 1px solid hsl(190 28% 10% / .18);
  padding: .33em .66em .44em .66em;
  cursor: pointer;
  font-size: .9em;
  font-weight: 400;
  margin: 3px;
  box-shadow: 0 -2px 0 inset var(--edge-color);
}

.danger-button {
  --hover-colour:  hsl(341 33% 10% / .41);
  --edge-color: hsl(341 28% 8% / .44);
  --edge-color-hover: hsl(341 28% 8% / .55);
  --edge-color-focus: hsl(190 28% 8% / .66);
  background-color: var(--colour-red-600);
  color: #fff;
}

.primary-button {
  --hover-colour:  hsl(190 33% 10% / .41);
  --edge-color: hsl(190 28% 8% / .44);
  --edge-color-hover: hsl(190 28% 8% / .55);
  --edge-color-focus: hsl(190 28% 8% / .66);
  background-color: var(--colour-blue-600);
  color: #fff;
}

.success-button {
  --hover-colour:  hsl(83 33% 10% / .41);
  --edge-color: hsl(83 28% 8% / .44);
  --edge-color-hover: hsl(83 28% 8% / .55);
  --edge-color-focus: hsl(83 28% 8% / .66);
  background-color: var(--colour-green-700);
  color: #fff;
}

.warning-button {
  --hover-colour:  hsl(33 33% 10% / .41);
  --edge-color: hsl(33 28% 8% / .33);
  --edge-color-hover: hsl(33 28% 8% / .44);
  --edge-color-focus: hsl(33 28% 8% / .55);
  background-color: var(--colour-yellow-600);
  color: #fff;
}

button:hover:not([disabled]),
.button:hover:not([disabled]),
[type='button']:hover:not([disabled]),
[type='reset']:hover:not([disabled]),
[type='submit']:hover:not([disabled]) {
  box-shadow: 0 -2px 0 inset var(--edge-color-hover),
              0 0 30px inset var(--hover-colour);
;
}

button:focus:not([disabled]),
.button:focus:not([disabled]),
[type='button']:focus:not([disabled]),
[type='reset']:focus:not([disabled]),
[type='submit']:focus:not([disabled]) {
  outline: 3px solid var(--colour-focus);
  border: 1px solid var(--edge-color);
  box-shadow: 0 -2px 0 inset var(--edge-color-focus);
}

button:active:not([disabled]),
.button:active:not([disabled]),
[type='button']:active:not([disabled]),
[type='reset']:active:not([disabled]),
[type='submit']:active:not([disabled]) {
  box-shadow: 0 -1px 0 inset var(--edge-color-focus),
              0 0 30px inset var(--hover-colour);
}

button[disabled], input[disabled] {
  background-color: var(--colour-grey-200);
  border-color: var(--colour-grey-300);
  cursor: not-allowed;
  box-shadow: none;
}


ul.facepile,
ol.facepile {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: .5ch;
}

svg {
  height: 1em;
}

svg.double {
  height: 2em;
}

