:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--layout-gap);
  border-radius: calc(var(--border-radius) * 2);
  padding: calc(var(--layout-gap) * 2);
  background-color: var(--colour-grey-300);
  margin: var(--layout-gap) 0;
  box-sizing: content-box;
  box-shadow: 0 0 0 1px inset rgba(10,10,10,.12);
  color: var(--colour-background)
}


header {
  font-size: var(--fs-big);
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: inherit;
}

section {
  max-width: 50ch;
  text-align: center;
  margin: auto;
  color: inherit;
  font-size: var(--fs-h6);
}
