:host {
  display: block;
  box-sizing: border-box;
  background-color: var(--colour-brand-sand);
  margin-top: auto;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--layout-gap);
  margin: 2rem 0;
}

.full-width {
  grid-column: 1 / -1;
}

.logo {
  margin-bottom: 1em;
}

.logo svg {
  height: 2em;
  object-fit: contain;
}

.legal {
  font-size: var(--fs-tiny);
  font-weight: 500;
}

address {
  font-style: normal;
  font-weight: 300;
}
