ptu-box {
  display: block;
  font-family: var(--font-family);
  font-size: var(--fs-base);
  max-width: 70ch;
  margin: var(--layout-gap) 0;
}

ptu-box * {
  font-size: inherit;
  font-family: inherit;
}

ptu-box > header {
  background-color: var(--colour-brand-sand);
  border: 1px solid var(--colour-border);
  display: flex;
  align-items: center;
  padding: calc(var(--layout-gap) / 2);
}

ptu-box > header aside {
  display: flex;
  gap: 1ch;
  align-items: center;
}

ptu-box > header h1 {
  font-size: var(--fs-h5);
  margin: 0;
  font-weight: bold;
}

ptu-box > header aside {
  margin-left: auto;
}

ptu-box article {
  border-width: 0 1px 1px;
  border-color: var(--colour-border);
  border-style: solid;
  padding: calc(var(--layout-gap) / 2);
}

ptu-box .value {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content auto;
  border-bottom: 1px solid var(--colour-grey-300);
  padding-bottom: calc(var(--layout-gap) / 2);
  margin-bottom: calc(var(--layout-gap) / 2);
}

ptu-box .value:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

ptu-box .value > * {
  grid-column: 1 / -1;
}

ptu-box .value header {
  font-size: var(--fs-small);
  font-weight: bold;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--colour-grey-700);
}

ptu-box .value aside {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  text-align: right;
}
