:host {
  display: list-item;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  position: relative;
  color: var(--colour-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  padding: .25em .5em;
  border-radius: var(--border-radius);
  background-color: var(--colour-grey-200);
  border: 2px solid transparent;
}


a:hover {
  background-color: var(--colour-grey-300);
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
}

a.active {
  background-color: var(--colour-background);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left-color: hsl(33, 20%, 82%);
  border-top-color: hsl(33, 20%, 82%);
  border-right-color: hsl(33, 20%, 82%);
  border-bottom-color: var(--colour-background);
  padding: .5em 1em .66em;
}

a:not(.active) {
  margin-bottom: .12em;
}


a:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
  outline: none;
  text-decoration-thickness: 3px;
}
