:host {
  display: block;
  padding: calc(var(--layout-gap) * 2) 0 calc(var(--layout-gap) + 8px) 0;
  margin-top: calc(var(--layout-gap) * 2.45);
}


article {
  display: grid;
  grid-template-columns: 3rem auto;
  grid-template-rows: auto auto;
  padding: .5em 1em;
  border-radius: var(--border-radius);
  border: 3px solid var(--colour-red-500);
  color: var(--colour-red-500);
  background-color: transparent;
  font-weight: 600;
  justify-items: start;
}

article > * {
  grid-column: 2 / -1;
}

article > svg {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: center;
}

p {
  margin: 0;
  font-family: inherit;
}

a {
  color: var(--colour-red-500);
  text-decoration: none;
  font-size: var(--fs-big);
  font-weight: 800;
}

a:hover {
  color: var(--colour-red-800);
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

a:focus {
  outline: none;
  background-color: var(--colour-focus);
  text-decoration: underline;
  color: var(--colour-text);
  text-decoration-thickness: 5px;
}

.meta {
  font-weight: 400;
  color: var(--colour-red-300);
  font-size: var(--fs-tiny);
}
