:host {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  overflow-x: auto;
}

caption {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--colour-grey-400);
  color: var(--colour-grey-700);
  text-align: left;
  clear: both;
}

caption p,
caption h1
{
  margin: 0;
  display: inline-block;
}

caption p {
  float: right;
}

caption h1 {
  font-size: 1.12em;
  font-weight: 500;
}

tr {

}

tr + tr td {
  border-top: 1px solid var(--colour-grey-300);
}

td, th {
  font-weight: 300;
  padding: .33em 1ch;
  margin: 0;
  line-height: 1.12;
}

td:first-child,
td:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-left: 0;
}

footer {
  display: flex;
  position: relative;
  width: 100%;
  border-top: 1px solid var(--colour-grey-400);
  color: var(--colour-grey-700);
  padding: .33em 0;
  justify-content: space-between;
  align-items: center;
}

footer nav {
  display: flex;
  gap: .5ch;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  color: var(--colour-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
  outline: none;
  text-decoration-thickness: 3px;
}

a:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
}

th {
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid var(--colour-grey-400);
  background-color: var(--colour-grey-200);
}

.page-button {
  color: var(--colour-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-button.active {
  font-weight: 550;
  color: var(--colour-text);
  text-decoration-thickness: 2px;
}

.page-button:focus {
  background-color: var(--colour-focus);
  color: var(--colour-text);
  outline: none;
  text-decoration-thickness: 3px;
}

.page-button:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
}

select {
  position: relative;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding-right: 2ch;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath style='fill: %230369a1' d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E");
  background-position: center right;
  background-repeat: no-repeat;
  color: var(--colour-link);
  text-decoration: underline;
  border-radius: var(--border-radius);
}

select:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath style='fill: %230c4a6e' d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E");

}

select:focus {
  outline: 3px solid var(--colour-focus);
  color: var(--colour-text);
  text-decoration-thickness: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath style='fill: %23000000' d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E");
}

div.select-wrapper {
  white-space: nowrap;
}
