:host {
  --colour-grey-100: var(--colour-grey-200);

  display: inline-block;
  box-sizing: border-box;
  font-size: .75em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding: .33em .44em;
  line-height: 1em;
  user-select: all;
  font-weight: 700;
  white-space: nowrap;
}
