ptu-app-icon {
  display: inline-block;
}

ptu-app-icon a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
  white-space: nowrap;
}

ptu-app-icon img {
  object-fit: contain;
  height: 1.8em;
  width: 1.8em;
}
