:host {
  display: block;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
  font-size: inherit;
  font-weight: inherit;
  font-family: var(--font-family);
}

img {
  height: 1.8em;
}
