:host {
  box-sizing: border-box;
  display: block;
  background-color: var(--colour-red-600);
  color: var(--colour-grey-50);
  max-width: 100%;
}

.header-section {
  padding: 0 var(--layout-gap);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.right-aligned {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 90%;
}
